[submodule "SphereGlue"]
	path = SphereGlue
	url = git@github.com:vishalsharbidar/SphereGlue.git
[submodule "SuperGluePretrainedNetwork"]
	path = SuperGluePretrainedNetwork
	url = git@github.com:magicleap/SuperGluePretrainedNetwork.git
[submodule "LightGlue"]
	path = LightGlue
	url = git@github.com:cvg/LightGlue.git
[submodule "utils/ALIKED"]
	path = utils/ALIKED
	url = git@github.com:Shiaoming/ALIKED.git
